.app {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: darkgoldenrod;
  color: whitesmoke;
  display: flex;
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  height: 6.25rem;
  justify-content: center;
  line-height: 1.10909;
  padding: 1.5rem;
  outline: 1px solid transparent;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
